.login_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    height: 100%;
    align-items: center;

    .login_input {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        img {
            width: 23px;
            height: 23px;
            position: absolute;
            left: 10px;
            cursor: pointer;
        }

        input {
            background: #191B28;
            border: none;
            padding: 25px 50px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            width: 100%;
            outline: none;
            color: #757575;
            font-weight: 600;
        }

        input::placeholder {
            font-weight: 900;
            text-transform: capitalize;
        }
    }

    button {
        padding: 13px;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 18px;
        -webkit-border-radius: 10px;
        background: #0157FF;
        color: white;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        width: fit-content;
        cursor: pointer;
        padding: 20px 60px;

        img {
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }

    }

    .spin {
        animation: spin 2s linear infinite;
    }

    
}

@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }